/* Resetowanie domyślnych stylów listy i przycisków */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* Dodanie odstępów między elementami */
ul > li:not(:last-child) {
  margin-bottom: 10px;
}

/* Drobna animacja przycisku po najechaniu myszką */
button:hover {
  background-color: #c0392b;
}

/* Styl przycisku "Add new tournament" */
a {
  display: block; /* Ustawiamy jako blokowy element, aby móc zastosować text-align */
  text-align: center; /* Wycentrowanie tekstu wewnątrz przycisku */
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 5px;
}

/* Drobna animacja przycisku "Add new tournament" po najechaniu myszką */
a:hover {
  background-color: #2980b9;
}
