/* Stylizacja elementów listy */
li {
  list-style: none;
  margin: 10px 0;
  padding: 10px; /* Dodajemy wewnętrzny padding */
  overflow: auto; /* Ustawiamy overflow, aby poprawnie zarządzać floatingiem */
  position: relative; /* Dodajemy pozycjonowanie względem rodzica */
  transition: background-color 0.3s, box-shadow 0.3s; /* Dodajemy efekt transition na hover */
  border: 1px solid #ccc; /* Obramowanie elementu */
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Cień elementu */
}

li:hover {
  background-color: #f2f2f2; /* Kolor tła przy hoverze */
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2); /* Zwiększony cień przy hoverze */
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  float: right; /* Ustawiamy floating na prawo */
  transition: background-color 0.3s; /* Dodajemy efekt transition na hover */
}

button:hover {
  background-color: #1e90ff; /* Kolor tła przycisku przy hoverze */
}

/* Stylizacja przycisku "Edit" */
button.edit-button {
  background-color: #2ecc71; /* Inny kolor dla przycisku "Edit" */
}

button.edit-button:hover {
  background-color: #27ae60; /* Kolor tła przycisku "Edit" przy hoverze */
}

/* Stylizacja przycisku "Add new tournament" */
a {
  display: block;
  padding: 10px;
  background-color: #27ae60;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  clear: right; /* Czyścimy floating */
  transition: background-color 0.3s; /* Dodajemy efekt transition na hover */
}

a:hover {
  background-color: #219d53; /* Kolor tła przycisku "Add new tournament" przy hoverze */
}
