/* Stylizacja elementów listy */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto; /* Ustawiamy overflow, aby poprawnie zarządzać floatingiem */
  position: relative; /* Dodajemy pozycjonowanie względem rodzica */
  align-items: center; /* Wyśrodkowanie treści pionowo */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s; /* Efekt hover */
}

li:hover {
  background-color: #e6e6e6;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  float: right; /* Ustawiamy floating na prawo */
  transition: background-color 0.3s; /* Dodajemy efekt transition na hover */
}

button:hover {
  background-color: #1e90ff; /* Kolor tła przycisku przy hoverze */
}

/* Stylizacja przycisku "Edit" */
button.edit-button {
  background-color: #2ecc71; /* Inny kolor dla przycisku "Edit" */
}

button.edit-button:hover {
  background-color: #27ae60; /* Kolor tła przycisku "Edit" przy hoverze */
}

/* Stylizacja przycisku "Add new tournament" */
a {
  display: block;
  padding: 10px;
  background-color: #27ae60;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  clear: right; /* Czyścimy floating */
  transition: background-color 0.3s; /* Dodajemy efekt transition na hover */
}

a:hover {
  background-color: #219d53; /* Kolor tła przycisku "Add new tournament" przy hoverze */
}
