<div>
  <h2>Tournament "{{ tournamentData.name }}" </h2>
</div>

<h3>Participants:</h3>
<ul>
  <li *ngFor="let participant of participantsList.participants; let i = index" (click)="detailsParticipant(participant.id)">
    <span>{{ participant.surname }}</span>
    <button (click)="deleteParticipant(participant.id, i)">Delete</button>
    <button (click)="editParticipant(participant.id)">Edit</button>
  </li>
</ul>

<a [routerLink]="['/tournament-details', tournamentData.id, 'add-participant']">Add new participant</a>
