/* Stylizacja elementów listy uczestników */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between; /* Wyśrodkowanie treści i przycisku na szerokość */
  align-items: center; /* Wyśrodkowanie treści pionowo */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s; /* Efekt hover */
}

li:hover {
  background-color: #e6e6e6;
}

/* Stylizacja informacji o uczestnikach */
span {
  font-weight: bold;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s; /* Efekt hover */
}

/* Stylizacja przycisku "Add new tournament" */
a {
  display: block;
  padding: 10px;
  background-color: #27ae60;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  clear: right; /* Czyścimy floating */
  transition: background-color 0.3s; /* Dodajemy efekt transition na hover */
}

a:hover {
  background-color: #219d53; /* Kolor tła przycisku "Add new tournament" przy hoverze */
}
