<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Laboratoria</title>
  <link rel="stylesheet" href="app.component.css"> <!-- Dołącz arkusz stylów CSS -->
</head>
<body>
<div class="container">
  <nav class="navbar">
    <ul class="menu">
      <li class="menu-item">
        <a href="./home">Home</a>
      </li>
      <li class="menu-item">
        <a href="./tournaments">Tournaments</a>
      </li>
    </ul>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
</body>
</html>
